.profile-icon {
    border: 3px solid rgba(12, 176, 218, 0.767);
    border-radius: 50%;
}

.nav-profile-picture {
    height: 100px;
    width: 100px;
    max-height:50px;
    max-width:50px;
    border-radius:100%;
    object-fit: cover;
}

.logout-Icon {
    color: black; /* Default color */
    /* font-size: 24px; Optional size styling */
    transition: color 0.3s ease; /* Smooth transition */
  }
  
  .logout-Icon:hover {
    color: red; /* Color on hover */
    font-weight: 500;
    background-color: blueviolet;
  }
  
.nav-font{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}