#root {
  margin: 0 auto;
  min-height: 100vh;
}

.icon {
  height: 35px;
}

.Toastify {
  z-index: 9999;
}

.custom-font{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: brown !important;
}

.custom-update{
  font-family: cursive;
  color: blue;
  font-size: 14px;  
}
